@font-face {
    font-family: 'Emulogic';
    src: url('fonts/Emulogic-zrEw.ttf');
}

.root {
    -fx-background-color: linear-gradient(to bottom, rgba(15, 15, 15, 0.95), rgba(26, 26, 26, 0.95)); /* Fond noir avec dégradé */
    -fx-font-family: "Emulogic";
    -fx-pref-height: 100%;
    -fx-pref-width: 100%;
}

.menu-div {
    -fx-alignment: center;
    -fx-cursor: hand;
}

.menu-border {
    -fx-fill: transparent;
    -fx-stroke: #CCCCCC;
    -fx-stroke-width: 2px;
    -fx-effect: dropshadow(gaussian, #CCCCCC, 10, 0.5, 0, 0);
    -fx-arc-width: 15;
    -fx-arc-height: 15;
    -fx-transition: all 0.3s ease-in-out;
}

.menu-text {
    -fx-font-size: 10px; /* Taille du texte dépendante de la largeur de la fenêtre */
    -fx-font-weight: bold;
    -fx-fill: #FFFFFF; /* Texte blanc */
}

.menu-title {
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-fill: #FFFFFF; /* Texte blanc */
}

.score-text {
    -fx-font-size: 34px;
    -fx-fill: #FFD700;
    -fx-effect: dropshadow(gaussian, #FFD700, 1, 0.8, 0, 0);
}

.life-text {
    -fx-font-size: 34px;
    -fx-fill: #22ff00;
    -fx-effect: dropshadow(gaussian, #22ff00, 1, 0.8, 0, 0);
}

/* Effet hover (survol) pour la bordure */
.menu-div:hover .menu-border {
    -fx-stroke: #FFD700; /* Bordure jaune vif */
    -fx-effect: dropshadow(gaussian, #FFD700, 20, 0.8, 0, 0); /* Glow intense sur la bordure */
}

/* Effet hover pour le texte */
.menu-div:hover .menu-text {
    -fx-fill: #FFD700; /* Texte jaune vif */
}

/* Effet clic (facultatif) */
.menu-div:pressed .menu-border {
    -fx-stroke: #FFA500; /* Orange foncé lors du clic */
}

/* Appliquer un style spécifique au ListView */
.list-view {
    -fx-background-color: transparent; /* Fond transparent */
    -fx-border-color: #FFD700; /* Bordure jaune vif */
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-padding: 10px;
    -fx-control-inner-background: #000000; /* Fond interne noir */
    -fx-control-inner-background-alt: #111111; /* Alternance pour les lignes */
    -fx-fixed-cell-size: 40px; /* Taille des cellules */
}

/* Style des barres de défilement */
.scroll-bar {
    -fx-background-color: #FFD700; /* Fond jaune vif */
}

/* Style des cellules dans la ListView */
.list-cell {
    -fx-background-color: #000000; /* Fond noir */
    -fx-text-fill: #FFFFFF; /* Texte blanc */
    -fx-font-family: "PacmanFont"; /* Police Pac-Man */
    -fx-font-size: 16px;
    -fx-alignment: center-left;
    -fx-padding: 5px 10px;
}

/* Effets pour les cellules */
.list-cell:hover {
    -fx-background-color: #FFD700; /* Fond jaune vif */
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

.list-cell:selected {
    -fx-background-color: #FFA500; /* Fond orange vif */
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}
